 <div class="table-responsive">
        <table class="table table-sm table-borderless align-middle mb-0">
          <thead class="table-light">
            <tr>
              <th>Booking</th>
              <th>Shipment</th>
              <th>Customer</th>
              <th>#</th>
              <th>Origin</th>
              <th>Destination</th>
              <th>ETD</th>
              <th>ETA</th>
              <th>Type</th>
              <th>Trans</th>
              <th>Status</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for r in page_obj.object_list %}
            <tr>
              <td>{% firstof r.shipment.booking_ref "-" %}</td>              
              <td><a href="{{ r.shipment.get_absolute_url }}">{{ r.shipment.number }}</a></td>
              <td>{{ r.shipment.shipper.name|default:"-" }}</td>
              <td class="text-muted">{{ r.order|default:"-" }}</td>
              <td>{% firstof r.origin_text r.origin.name "-" %}</td>
              <td>{% firstof r.destination_text r.destination.name "-" %}</td>
              <td>{{ r.planned_departure|date:"Y-m-d H:i" }}</td>
              <td>{{ r.planned_arrival|date:"Y-m-d H:i" }}</td>
              <td>{% firstof r.transportation_type_text r.transportation_type.name "-" %}</td>
              <td>{% firstof r.transportation_asset_text r.transportation_asset.identifier "-" %}</td>
              <td>{{ r.status|default:"-" }}</td>
              <td>
 <!-- tombol edit dan delete -->
         <button class="btn btn-outline-secondary btn-sm js-edit-route"
        data-url="{% url 'shipments:shipment_route_edit_modal' r.shipment_id r.id %}">
  Edit
</button>


<button class="btn btn-outline-danger btn-sm js-del-route"
        data-url="{% url 'shipments:shipment_route_delete' r.shipment_id r.id %}">
  Del
</button>
              </td>
            </tr>
            {% empty %}
            <tr><td colspan="11" class="text-muted fst-italic">No routes found.</td></tr>
            {% endfor %}
          </tbody>
        </table>
      </div>