 <div class="card">
    <div class="card-header">Cargo Information </div>
    <div class="card-body px-5">
          
                <div class="row mb-2">
                  {{ form.cargo_description }}
                </div>
                <div class="row mb-2">             
                  {{ form.pickup }}
                 
                </div>
                <div class="row mb-2">
                
                  {{ form.delivery }}
                </div>
                
         

        </div>
   </div>
   