body {
    font-size: 0.9rem !important;
    font-family: "Open Sans", sans-serif;
    font-weight: initial;
    
    -webkit-font-smoothing: antialiased;
}
.sidebar-menu .nav-link > p > .nav-arrow {
    position: absolute;
    top: 50%;
    right: 1rem;
}

.sidebar-menu .nav-link > p > .nav-icon-right {
    position: absolute;
    top: 50%;
    right: 1rem;
}


.sidebar-menu .nav-header {
    padding: 0.5rem 20px !important;
    font-size: 1rem !important;
   
}


.table > :not(caption) > * > * {
  padding-top: .4rem;   /* default: .5rem */
  padding-bottom: .4rem;
  font-size: 85%;
}

.app-content-header h3 {

  font-size:28px !important;
}

.app-content-header h4 {

  font-size:20px !important;
}

/* ubah kursor dan efek hover */
tr.clickable-row {
  cursor: pointer;
}

tr.clickable-row:hover {
  background-color: rgba(var(--bs-primary-rgb), 0.08); /* efek hover lembut */
  transition: background-color .15s ease-in-out;
}

.form-control, .form-select {
  font-size: 0.8rem !important;
}

.sidebar-menu .nav-link,
.sidebar-menu .nav-item
 {
  font-size:0.75rem;

} 


.app-sidebar .nav-icon {
    font-size: 0.9 rem !important;
    line-height: 1;
}

.card-body.p-0 .table thead > tr > th:first-of-type, .card-body.p-0 .table thead > tr > td:first-of-type, .card-body.p-0 .table tfoot > tr > th:first-of-type, .card-body.p-0 .table tfoot > tr > td:first-of-type, .card-body.p-0 .table tbody > tr > th:first-of-type, .card-body.p-0 .table tbody > tr > td:first-of-type {
    padding-left: 1rem;
}

.form-control, .form-select {
  
  border-radius: 0 !important;
  box-shadow: none;

}


.card {
  border: var(--bs-card-border-width) solid var(--bs-card-border-color);
  border-radius: 0 !important;
  box-shadow:none !important
}

.app-content {
    padding: 1rem 0rem !important;
}

label .form-label,label {
  margin-bottom:1px;
}



.btn-sm, .btn-group-sm > .btn {
    --bs-btn-padding-y: 0.25rem;
    --bs-btn-padding-x: 0.5rem;
    --bs-btn-font-size: 0.875rem;

}

.col-form-label-sm {
   
    font-size: 0.75rem !important;
    line-height: 0.5rem !important
}