<div class="card mt-3">
  <div class="card-header py-2">
    <strong>Customer Notes</strong>
    <span class="text-muted small d-block">
    C Catatan untuk customer di print-out Quotation
    </span>
  </div>
  <div class="card-body">
    <div class="mb-2">
      {{ form.notes_internal.label_tag }}
      {{ form.notes_internal }}
      {% if form.notes_internal.errors %}
        <div class="text-danger small">
          {{ form.notes_customer.errors }}
        </div>
      {% endif %}
    </div>
  </div>
</div>
