{% extends "adminbase.html" %}
{% block content %}

<div class="app-content-header" style="background-color: #fff;">
    <div class="container-fluid d-flex justify-content-between align-items-center">
      <h3 class="mb-0">{{ entity_label }} List</h3>

     <a href="{% url 'sales:'|add:entity_urls|add:'_add' %}"
      class="btn btn-primary btn-sm">
      <i class="bi bi-plus"></i> New {{ entity_label }}
    </a>

</div>

<div class="app-content">
  <div class="container-fluid">      
     {% include 'customers/extension/toolbar.html' %}
  </div>
  <div class="container-fluid">      
     {% include 'customers/extension/table.html' %}
  </div>

</div>

{% endblock %}
