<li class="nav-item">
  <a href="#" class="nav-link">
    <i class="nav-icon bi bi-truck"></i>
    <p>
      Operation
      <i class="nav-arrow bi bi-chevron-right"></i>
    </p>
  </a>

  <ul class="nav nav-treeview">

    <li class="nav-item">
      <a href="{% url 'sales:vendor_list' %}" class="nav-link">
        <i class="nav-icon bi bi-building-check"></i>
        <p>Vendor</p>
      </a>
    </li>

    <li class="nav-item">
      <a href="#" class="nav-link">
        <i class="nav-icon bi bi-calendar-check"></i>
        <p>Booking</p>
      </a>
    </li>

    <li class="nav-item">
      <a href="#" class="nav-link">
        <i class="nav-icon bi bi-box-seam"></i>
        <p>Delivery</p>
      </a>
    </li>

    <li class="nav-item">
      <a href="#" class="nav-link">
        <i class="nav-icon bi bi-geo-alt"></i>
        <p>Tracking</p>
      </a>
    </li>

  </ul>
</li>
