<li class="nav-item">
  <a href="#" class="nav-link">
    <i class="nav-icon bi bi-truck"></i>
    <p>
      OPERATIONS
      <i class="nav-arrow bi bi-chevron-right"></i>
    </p>
  </a>

  <ul class="nav nav-treeview">

   

    <li class="nav-item">
      <a href="#"  class="nav-link">
        <i class="nav-icon bi bi-calendar-check"></i>
        <p>Shipmemnt</p>
      </a>
    </li>

    <li class="nav-item">
    <a href="{% url 'shipments:cs_public_link_page' %}"
      class="nav-link {% if request.resolver_match.url_name == 'public_link' %}active{% endif %}">
      <i class="nav-icon bi bi-link-45deg"></i>
      <p>Tracking</p>
    </a>
  </li>
  <li class="nav-item">
  <a href="{% url 'shipments:si_list' %}"
     class="nav-link {% if request.resolver_match.app_name == 'shipments' %}active{% endif %}">
    <i class="nav-icon bi bi-file-earmark-text"></i>
    <p>Shipping Instruction</p>
  </a>
</li>



  </ul>
</li>
