<nav class="mt-2">
  <ul class="nav nav-pills nav-sidebar flex-column"
      data-lte-toggle="treeview"
      role="menu"
      data-accordion="false">

    <!-- Dashboard -->
    <li class="nav-item">
      <a href="#"
         class="nav-link {% if request.resolver_match.url_name == 'dashboard' %}active{% endif %}">
        <i class="nav-icon fas fa-home"></i>
        <p>Dashboard</p>
      </a>
    </li>

    <!-- Projects (contoh om pakai /projects/) -->
    <li class="nav-item">
      <a href="#"
         class="nav-link {% if request.resolver_match.app_name == 'projects' %}active{% endif %}">
        <i class="nav-icon fas fa-folder-open"></i>
        <p>Projects</p>
      </a>
    </li>

    <!-- SALES -->
    {% with current_app=request.resolver_match.app_name current_view=request.resolver_match.url_name %}
    <li class="nav-item {% if current_app == 'sales' %}menu-open{% endif %}">
      <a href="#"
         class="nav-link {% if current_app == 'sales' %}active{% endif %}">
        <i class="nav-icon fas fa-briefcase"></i>
        <p>
          Sales
          <i class="end fas fa-angle-left"></i>
        </p>
      </a>

      <ul class="nav nav-treeview">

        <li class="nav-item">
          <a href="#:
             class="nav-link {% if current_view == 'jobfile_list' %}active{% endif %}">
            <i class="far fa-circle nav-icon"></i>
            <p>Jobfile</p>
          </a>
        </li>

        <li class="nav-item">
          <a href="#"
             class="nav-link {% if current_view == 'fq_list' %}active{% endif %}">
            <i class="far fa-circle nav-icon"></i>
            <p>Freight Quotation</p>
          </a>
        </li>

        <li class="nav-item">
          <a href="{% url 'sales:fo_list' %}"
             class="nav-link {% if current_view == 'fo_list' %}active{% endif %}">
            <i class="far fa-circle nav-icon"></i>
            <p>Freight Order</p>
          </a>
        </li>

      </ul>
    </li>
    {% endwith %}

    <!-- PARTNERS -->
    <li class="nav-item">
      <a href="#"
         class="nav-link {% if request.resolver_match.app_name == 'partners' %}active{% endif %}">
        <i class="nav-icon fas fa-users"></i>
        <p>Partners</p>
      </a>
    </li>

    <!-- CONFIG -->
    {% with current_app=request.resolver_match.app_name %}
    <li class="nav-item {% if current_app == 'config' %}menu-open{% endif %}">
      <a href="#"
         class="nav-link {% if current_app == 'config' %}active{% endif %}">
        <i class="nav-icon fas fa-gears"></i>
        <p>
          Config
          <i class="end fas fa-angle-left"></i>
        </p>
      </a>

      <ul class="nav nav-treeview">

        <li class="nav-item">
          <a href="#"
             class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>Sales Services</p>
          </a>
        </li>

        <li class="nav-item">
          <a href="#"
             class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>Payment Terms</p>
          </a>
        </li>

        <li class="nav-item">
          <a href="#"
             class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>Number Sequence</p>
          </a>
        </li>

      </ul>
    </li>
    {% endwith %}

  </ul>
</nav>
