<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-md-6">
        <div class="row mb-3">
          <div class="col-md-12">
             <label class="form-label">Payment Info</label>
        
                {{form.payment_term}}
            </div>

        </div>
        <div class="row">
          <div class="col-md-12">
              <div class="form-group">
                <label>Down Payment (%)</label>
                <input type="text"
       id="id_down_payment_percent"
       name="down_payment_percent"
       value="{{ form.down_payment_percent.value|default_if_none:'' }}"
       class="form-control form-control-sm text-end">
              </div>
            
          </div>

        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
                <label>Down Payment Amount</label>
                <input type="text"
                      id="id_down_payment_amount_display"
                      class="form-control text-end"
                      readonly>
            </div>  
          </div>

        </div>
</div>
      <div class="col-md-6">
                  <label class="form-label">Bank Account for Transfer</label>

        {{ form.bank_transfer_info }}
        
      </div>

    </div>
  </div>
</div>

