<div class="row g-2 mt-2" data-booking-section="BASIC">
  <div class="col-12 col-md-3">
    <label class="form-label small mb-1">Reference No</label>
    {{ form.reference_no }}
  </div>

  <div class="col-12 col-md-3">
    <label class="form-label small mb-1">Shipper</label>
    {{ form.shipper_name }}
  </div>

  <div class="col-12 col-md-3">
    <label class="form-label small mb-1">Consignee</label>
    {{ form.consignee_name }}
  </div>

  <div class="col-12 col-md-3">
    <label class="form-label small mb-1">Notify</label>
    {{ form.notify_party_name }}
  </div>

  <div class="col-12">
    <label class="form-label small mb-1">Cargo Information</label>
    {{ form.cargo_information }}
  </div>
</div>
