{% load indo_format %}


  
    <div class="table-responsive cc-table">
      <table class="table table-sm table-hover align-middle mb-0 cc-table-main">
        <thead class="table-light">
          <tr>
            <th style="width: 4%;">
              <input type="checkbox" id="chk-all" class="">
            </th>
            <th>Invoice</th>
            <th>Customer</th>
            <th class="text-end">Total</th>
            <th class="text-end" style="width: 120px;">Status</th>
          </tr>
        </thead>
        <tbody>
          
          {% for inv in invoices %}
             <tr class="row-clickable"  
                data-url="{% url 'billing:invoice_detail' inv.pk %}">
   
              <td onclick="event.stopPropagation();">
                     <input type="checkbox" class="form-check-input  row-check" data-id="{{ inv.pk }}">

                </td>

              <td class="fw-semibold">{{ inv.number|default:"(no number)" }}</td>
              <td>{{ inv.customer.name }}</td>
              <td class="text-end">{{ inv.total_amount |indo_number}}</td>
              <td class="text-end">
             <!--
                {% if inv.status == "DRAFT" %}
                <span class="badge bg-secondary">DRAFT</span>
                {% elif inv.status == "PAID" %}
                <span class="badge bg-success">PAID</span>
                {% elif inv.status == "SENT" or inv.status == "UNPAID" %}
                <span class="badge bg-warning text-dark">UNPAID</span>
                {% else %}
                <span class="badge bg-secondary">DRAFT</span>
                {% endif %}-->
                {{ inv.pay_status_label }}
              </td>
            </tr>
          {% empty %}
            <tr><td colspan="5" class="text-muted text-center">No invoices.</td></tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

   