
          <div id="joborders-toolbar"
               class="d-flex justify-content-between align-items-center gap-2 mb-2">

            <!-- LEFT: NEW BUTTON -->
            <div class="d-flex align-items-center gap-2">
              <a href="{% url 'billing:invoice_add' %}" class="btn btn-primary btn-sm">
                <i class="fa fa-plus me-1"></i> New
              </a>
              
            </div>
           

            <!-- CENTER: SEARCH BOX / BULK ACTIONS -->
            <div class="flex-grow-1 d-flex justify-content-center">

              <!-- SEARCH (default) -->
              <div id="search-box" class="flex-grow-1 d-flex justify-content-center">
                <form method="get"
                      class="input-group input-group-md rounded-pill overflow-hidden  border"
                      style="max-width:700px;">
                  <input type="search"
                         name="q"
                         value="{{ filter_q }}"
                         class="form-control ps-3 border-0 bg-body"
                         placeholder="Search Invoice No / Customer..."
                         autocomplete="off">

                  <button class="btn btn-outline-secondary border-0 bg-body" type="submit">
                    <i class="fa fa-search"></i>
                  </button>

                  <!-- pertahankan filter lain -->
                  <input type="hidden" name="customer"  value="{{ filter_customer }}">
                  <input type="hidden" name="service"   value="{{ filter_service }}">
                  <input type="hidden" name="date_from" value="{{ filter_date_from }}">
                  <input type="hidden" name="date_to"   value="{{ filter_date_to }}">
                </form>
              </div>

              <!-- BULK ACTIONS (hidden default) -->
              <div id="bulk-actions" class="d-none align-items-center gap-2">
                <span class="btn btn-secondary btn-sm me-2 disabled"
                    style="pointer-events:none;">
                <span id="sel-count">0</span> selected
                </span>
                 <button type="button"
                        class="btn btn-warning btn-sm"
                        id="btn-bulk-delete">
                    <i class="fa fa-delete me-1"></i> Delete
                </button>

                <button type="button"
                        class="btn btn-danger btn-sm"
                        id="btn-bulk-cancel">
                    <i class="fa fa-ban me-1"></i> Cancel
                </button>

              </div>

            </div>

            <!-- RIGHT: FILTER BUTTON -->
            <div>
              <button class="btn btn-outline-secondary btn-sm"
                      data-bs-toggle="offcanvas"
                      data-bs-target="#filterSheet">
                <i class="fa fa-filter me-1"></i> Filter
              </button>
            </div>
          </div>
