body

{
   
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8375rem !important;
}

.bg-body-tertiary {
    --bs-bg-opacity: 1;
    
}

 th:first-child, tr td:first-child {
        /* CSS properties for the first <th> */
       
        color: navy;
        font-weight: bold;
}

td {
  padding: 13px 5px;
}


input,
textarea,
select {
  font-size: 0.850rem !important;;       /* Sesuaikan dengan kebutuhan, bisa 0.875rem */
  font-family: 'Inter', sans-serif;
}

input[type=text] 
{
 
}

.bg-body-image {
    background-image: url("");
    background-repeat: no-repeat; /* Prevent the image from repeating */
    background-size: cover; /* Scale the image to cover the entire viewport while maintaining aspect ratio */
    background-position: center center; /* Center the image horizontally and vertically */
    background-attachment: fixed; /* Keep the background image fixed while content scrolls */
    background-blend-mode: overlay;
    height: 100vh; /* Ensure the body takes up the full viewport height */
    width: 100vw; /* Ensure the body takes up the full viewport width */
    margin: 0; /* Remove default body margin */
    padding: 0; /* Remove default body padding */

   
}

.card {
 

  box-shadow: none !important; 
  border-radius: 0 !important;
  
}


.app-content.content-wrap {
  padding: 0 !important;
  margin: 0 !important;
}

.nav-tabs {

  padding-left: 30px !important;
  border-radius: 0 !important;
}

.tab-content {padding:0px !important}

.btn-white {
  
    --bs-btn-color: #fff;
    color:#222 !important;
    background-color: var(--bs-btn-color) !important;
}


/* Supaya striping dimulai dari header */
.table-striped-all tr:nth-child(odd) {
  background-color: var(--bs-table-striped-bg) !important;
}
.table-striped-all tr:nth-child(even) {
  background-color: transparent !important;
}


.table-striped > tbody > tr:nth-of-type(odd) > * {
  --bs-table-color-type: var(--bs-table-striped-color !important);
  --bs-table-bg-type: #fff !important;
}

.table2 > :not(caption) > * > * {
    padding: 0.5rem 0.5rem;
    color: var(--bs-table-color-state, var(--bs-table-color-type, var(--bs-table-color)));
    background-color: #f1f1f1;
  }