{% extends "adminbase.html" %}
{% load static %}

{% block content %}

<div class="app-content-header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
        <h3 class="mb-0">Projects</h3>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-end">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">New</li>
        </ol>
      </div>
    </div>
  </div>
</div>

<div class="app-content"> 

  <div class="container-fluid">
    {% include 'projects/filter.html' %}
  </div>
  <div class="container-fluid">
     {% include 'projects/prj-table.html' %}
  </div>
</div> 
{% endblock %}
