{% load static %}
<!doctype html>
<html lang="id">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Masuk • Odoo-like</title>
   <link rel="stylesheet" href="{% static 'adminlte/css/login.css' %}"/>
  
</head>
<body>

  <main class="o-auth">
    <section class="o-box" role="dialog" aria-labelledby="o-title">
      <header class="o-header">
        <div class="o-logo" aria-hidden="true">
				<img src="{% static 'adminlte/img/logo.png' %}" alt="Logo" />          <span></span>
        </div>
        <h1 id="o-title"></h1>
      </header>

      <!-- Notifikasi error (tampilkan/hilangkan via atribut hidden) -->
      <div class="o-alert" hidden id="alert-invalid">
        Masuk gagal. Periksa email/username dan kata sandi Anda.
      </div>

          <form class="o-form" method="post" action="#">
            {% csrf_token %}

        <div class="o-field">
          <label class="o-label" for="login">Email / Username</label>
          <input class="o-input" id="login" name="username" type="text" autocomplete="username" required>
          <input type="hidden" name="next" value="{{ request.GET.next }}">
        </div>

        <div class="o-field">
          <label class="o-label" for="password">Kata Sandi</label>
          <input class="o-input" id="password" name="password" type="password" autocomplete="current-password" required>
          
        </div>

        <div class="o-row">
          <label class="o-check">
            <input type="checkbox" class="o-check__box" name="remember">
            <span class="o-check__label">Ingat saya</span>
          </label>
          <a href="#" class="o-link">Lupa kata sandi?</a>
        </div>

        <button class="o-btn" type="submit">Masuk</button>

        <!-- (opsional) selector bahasa sederhana -->
      </form>

      <footer class="o-footer">
        <p class="o-muted">© pt. dakara hanasta samudera</p>
		
      </footer>
    </section>
  </main>

  <!-- demo kecil: tambahkan ?error=1 atau ?db=1 di URL -->
  <script>
    const p = new URLSearchParams(location.search);
    if (p.get('error')) document.getElementById('alert-invalid').hidden = false;
    if (p.get('db')) document.getElementById('db-field').hidden = false;
  </script>
</body>
</html>
