{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Stellar Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="/static/stellar/vendors/simple-line-icons/css/simple-line-icons.css">
    <link rel="stylesheet" href="/static/stellar/vendors/flag-icon-css/css/flag-icons.min.css">
    <link rel="stylesheet" href="/static/stellar/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="/static/stellar/vendors/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/static/stellar/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="/static/stellar/vendors/jvectormap/jquery-jvectormap.css">
    <link rel="stylesheet" href="/static/stellar/vendors/daterangepicker/daterangepicker.css">
    <link rel="stylesheet" href="/static/stellar/vendors/chartist/chartist.min.css">
    <!-- End plugin css for this page --> 
    
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="/static/stellar/css/vertical-light-layout/style.css"/>
    <!-- End layout styles -->
    <link rel="shortcut icon" href="/static/stellar/images/favicon.png" />
  </head>
  <body>
    <div class="container-scroller">
      
      <!-- partial:partials/_navbar.html -->
        {% include 'partials/stellar_navbar.html' %}
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
      {% include 'partials/stellar_sidebar.html' %}

        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
             {% block content_header %}{% endblock %}
          {% block content %}
          <!-- Default content -->
          {% endblock %}
       
          </div>
          <!-- content-wrapper ends -->
          <!-- partial:partials/_footer.html -->
          <footer class="footer">
            <div class="d-sm-flex justify-content-center justify-content-sm-between">
              <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2024 Stellar. All rights reserved. <a href="#"> Terms of use</a><a href="#">Privacy Policy</a></span>
              <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i class="icon-heart text-danger"></i></span>
            </div>
          </footer>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="/static/stellar/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- inject:js -->
    <script src="/static/stellar/js/off-canvas.js"></script>
    <script src="/static/stellar/js/hoverable-collapse.js"></script>
    <script src="/static/stellar/js/misc.js"></script>
    <script src="/static/stellar/js/settings.js"></script>
    <script src="/static/stellar/js/todolist.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="/static/stellar/js/dashboard.js"></script>
    <!-- End custom js for this page -->
  </body>
</html>