{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Cargochains</title>

  <!-- Core CSS -->
  <link rel="stylesheet" href="{% static 'stellar/vendors/simple-line-icons/css/simple-line-icons.css' %}">
  <link rel="stylesheet" href="{% static 'stellar/vendors/flag-icon-css/css/flag-icons.min.css' %}">
  <link rel="stylesheet" href="{% static 'stellar/vendors/css/vendor.bundle.base.css' %}">
  <link rel="stylesheet" href="{% static 'stellar/css/vertical-light-layout/style.css' %}">
  <link rel="shortcut icon" href="{% static 'stellar/images/favicon.png' %}" />
  <link rel="stylesheet" href="{% static 'stellar/css/vertical-light-layout/custom.css' %}">

 
    {% block extra_css %}{% endblock %}
</head>
<body>
  <div class="container-scroller">
    {% include 'partials/stellar_navbar.html' %}
    <div class="container-fluid page-body-wrapper">
      {% include 'partials/stellar_sidebar.html' %}
      <div class="main-panel">
        <div class="content-wrapper">
          {% block content_header %}{% endblock %}
          {% block content %}{% endblock %}
        </div>
        <footer class="footer">
          <div class="d-sm-flex justify-content-between">
            <span class="text-muted">Copyright © 2024 Stellar.</span>
            <span>Hand-crafted & made with <i class="icon-heart text-danger"></i></span>
          </div>
        </footer>
      </div>
    </div>
  </div>

  <!-- Core JS (Bootstrap bundle, tanpa jQuery) -->
  <script src="{% static 'stellar/vendors/js/vendor.bundle.base.js' %}"></script>

  <!-- Theme scripts -->
  <script src="{% static 'stellar/js/off-canvas.js' %}"></script>
  <script src="{% static 'stellar/js/hoverable-collapse.js' %}"></script>
  <script src="{% static 'stellar/js/misc.js' %}"></script>
  <script src="{% static 'stellar/js/settings.js' %}"></script>
  <script src="{% static 'stellar/js/todolist.js' %}"></script>
 
  {% block extra_js %}{% endblock %}
  
</body>
</html>
