body {
    font-size: 0.8rem !important;
    font-family: "Open Sans", sans-serif;
    font-weight: initial;
    line-height: normal;
    -webkit-font-smoothing: antialiased;
}

.form-control {
    padding:8px 5px;
    margin-bottom:20px
}